:root {
  --vth-primary-dark: #191d26;
  --vth-secondary-dark: #2d323f;
  --vth-light: #eaeaea;
  --vth-green: #15a362;
}

#appointment .react-tabs__tab-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: none;
}

#appointment .react-tabs__tab--selected {
  background-color: var(--vth-green);
  color: var(--vth-light);
  border: none;
}

#appointment .react-tabs__tab {
  color: var(--vth-light);
  border: 1px solid;
  border-radius: 5px;
}

/* Remove increment and decrement arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
