:root {
  --vth-primary-dark: #191d26;
  --vth-secondary-dark: #2d323f;
  --vth-light: #eaeaea;
  --vth-green: #15a362;
  --vth-light-green: #18ba70;
  --vth-white: #fff;
}

/* appointment tab styles */
#appointment .react-tabs__tab-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: none;
}

#appointment .react-tabs__tab {
  color: var(--vth-light);
  border: 1px solid;
  border-radius: 5px;
  font-weight: 500;
}

#appointment .react-tabs__tab--selected {
  border-color: var(--vth-green) !important;
  background-color: var(--vth-green);
  color: var(--vth-white) !important;
  border: none;
}

#appointment .react-tabs__tab:focus:after {
  content: none;
}

#user-eye {
  top: 37px;
  right: 15px;
}

/* CSS for making the tabs sticky */
/* .sticky-tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 10px 0;
  margin: 0 -15px;
} */

/* Remove increment and decrement arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* ***************************** */
/* Add this CSS to your main CSS file or inline styles */

/* .parameter-card {
  border: 2px solid #007bff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #e9ecef;
}

.parameter-header {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.parameter-body {
  padding: 10px;
  background-color: #f8f9fa;
}

.parameter-item {
  margin-bottom: 10px;
}

.parameter-subitem {
  margin-bottom: 5px;
}

.parameter-nested {
  padding-left: 20px;
}

.parameter-nested-item {
  margin-bottom: 3px;
}

.test-results {
  margin: 20px;
}

.test-result {
  margin-bottom: 20px;
} */